@import url(../assets/fonts/muli.css);
body {
  font-family: "muli", Helvetica, sans-serif;
  width: 1642px;
  margin: 0 auto;
}

.header {
  background-image: url(/assets/images/blue_header.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__container {
  margin: 70px 98px 80px;
}
.header__container-img {
  position: relative;
  margin: 80px 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1310px;
  height: 640px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 63px;
}
.header__item {
  margin: 0;
  list-style: none;
}
.header__link {
  display: block;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.header__title {
  font-size: 64px;
  color: white;
}
.header__subtitle {
  max-width: 754px;
  font-size: 24px;
  color: white;
}
.header__social {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-size: 13px;
  margin-top: 580px;
  margin-right: -120px;
  list-style-type: none;
}
.header__social-item {
  float: left;
  padding: 65px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-size: 32px;
  color: white;
  width: 53px;
  height: 32px;
}

.hire-us {
  margin-left: 135px;
  color: white;
  border-bottom-style: solid;
  border-color: #FCC304;
  text-decoration: none;
}

.slider {
  position: relative;
}
.slider__buttons {
  position: absolute;
  margin-top: 260px;
  margin-left: -80px;
}
.slider__button {
  width: 80px;
  height: 64px;
  background-color: #FCC304;
  color: white;
  border: none;
  float: left;
}
.slider__button_prev {
  border-right: none;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.slider__button_next {
  border-right: none;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.slider__wrapper {
  margin-top: 125px;
}
.slider__img-inner {
  width: 100%;
}
.slider__text-title {
  position: absolute;
  bottom: 180px;
  left: 60px;
  font-size: 13px;
  text-transform: uppercase;
  color: #56ccf2;
}
.slider__text-subtitle {
  position: absolute;
  bottom: 120px;
  left: 60px;
  max-width: 264px;
  font-size: 20px;
  color: white;
}

.button {
  margin-top: 50px;
  border-radius: 64px;
  border: none;
  font-size: 16px;
  width: 226px;
  height: 56px;
}

.container {
  position: relative;
  width: 1146px;
  margin: 0 auto;
}