.blue{
    background-image: url(blue\ header.jpg);
    width: 1600px;
    height: 848px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
      
}
.Header1{
    color: white;
    font-size: 44px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.imgHeader{
    width: 50%;
    margin-top: 77px;
    margin-left: 427px;

}
.text1{
    font-size: 24px;
    color: white;
    

}
.text2{
    font-size: 24px;
    color: rgb(51, 50, 50);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

}
ul{
    list-style-type: none;
    margin-left: 350px;
    padding: 0;
    overflow: hidden;
}
li{
    float: inline-start;
       
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
.textconteiter{
    width: 900px;
    margin-top: 80px;
    margin-left: 427px;

}

.section1{
    padding: 150px 150px 50px 150px;
}
h1{
    font-size: 48px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #56CCF2;
}
.welcome{
    display: inline-flex;
    align-items: center;
    padding-left: 400px;
}
.conteinerS2{
    gap: 150px;
    display: flex;
    justify-content: center;
}
.conteinerS2 div{
    display: inline-block;
    width: 250px;
    padding: 10px;
}
.image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
