@import url(./normalize.css);
@import url(../assets/fonts/muli.css);

* {
    font-family: 'muli', sans-serif;
}

.blue{
    background-image: url(/assets/images/blue_header.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
}

.header {

}

.header__list {
    display: flex;
    gap: 63px;
}

.header__item {
    margin: 0;
    list-style: none;
}

.header__link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

.container {
    margin: 0 auto;
    width: 1146px;
}

.container_m {
    width: 950px;
}

.Header1 {
    color: white;
    font-size: 44px;
}

.imgHeader {
    width: 50%;
    margin-top: 77px;
    margin-left: 427px;
}

.text1 {
    font-size: 24px;
    color: white;
}

.text2 {
    font-size: 24px;
    color: rgb(51, 50, 50);
}

.text-contaiter{
    
   

}
