@import url(../assets/fonts/muli.css);
body {
  font-family: "muli", Helvetica, sans-serif;
  width: 1642px;
  margin: 0 auto;
}

.header {
  background-image: url(/assets/images/blue_header.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__container {
  margin: 70px 98px 80px;
}
.header__container-img {
  position: relative;
  margin: 80px 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1310px;
  height: 640px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 63px;
}
.header__item {
  margin: 0;
  list-style: none;
}
.header__item_pos_right {
  list-style: none;
  margin-left: 135px;
  color: white;
  border-bottom-style: solid;
  border-color: #FCC304;
  text-decoration: none;
}
.header__link {
  display: block;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.header__title {
  font-size: 64px;
  color: white;
}
.header__subtitle {
  max-width: 754px;
  font-size: 24px;
  color: white;
}
.header__social {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-size: 13px;
  margin-top: 580px;
  margin-right: -120px;
  list-style-type: none;
}
.header__social-item {
  float: left;
  padding: 65px;
}

.social-media {
  text-decoration: none;
  color: #253757;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-size: 32px;
  color: #fff;
  width: 53px;
  height: 32px;
}

.slider {
  position: relative;
}
.slider__buttons {
  position: absolute;
  margin-top: 260px;
  margin-left: -80px;
}
.slider__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 64px;
  background-color: #FCC304;
  color: #fff;
  border: none;
  float: left;
}
.slider__button_prev, .slider__button_next {
  font-size: 26px;
}
.slider__button_prev::before, .slider__button_next::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.slider__button_prev {
  border-radius: 34px 0px 0px 34px;
}
.slider__button_prev::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.slider__button_next {
  border-radius: 0px 34px 34px 0px;
}
.slider__button_next::before {
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
}
.slider__wrapper {
  margin-top: 125px;
}
.slider__img-inner {
  width: 100%;
}
.slider__text-title {
  position: absolute;
  bottom: 180px;
  left: 60px;
  font-size: 13px;
  text-transform: uppercase;
  color: #56ccf2;
}
.slider__text-subtitle {
  position: absolute;
  bottom: 120px;
  left: 60px;
  max-width: 264px;
  font-size: 20px;
  color: white;
}

.button {
  margin-top: 50px;
  border-radius: 64px;
  border: none;
  font-size: 16px;
  width: 226px;
  height: 56px;
}

.container {
  position: relative;
  width: 1146px;
  margin: 0 auto;
}
.container_m {
  width: 742px;
}

.welcome {
  max-width: 1146px;
  margin: 165px auto;
}
.welcome__text {
  max-width: 742px;
  margin: 0 auto;
}
.welcome__subtitle {
  margin-top: 20px;
  font-size: 24px;
  font-weight: normal;
  color: #253757;
}
.welcome__maintitle {
  font-size: 48px;
  text-align: center;
}
.welcome__contairer-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 150px;
  margin-bottom: 200px;
}
.welcome__col {
  width: 264px;
}
.welcome__imgCirc {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-bottom: 64px;
}
.welcome__col-text-title {
  font-size: 20px;
  color: #253757;
  margin-bottom: 32px;
}
.welcome__col-text-subtitle {
  font-size: 16px;
  color: #334563;
}
.welcome__container-col-process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  margin-bottom: 200px;
}

.what-we-do {
  max-width: 1146px;
  margin: 165px auto;
}

.section-title {
  position: relative;
  padding-left: 37px;
  font-size: 16px;
  color: #56ccf2;
  text-transform: uppercase;
}
.section-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 21px;
  height: 21px;
  background-image: url(/assets/icons/blue-dots.svg);
  background-repeat: none;
  background-size: cover;
  background-position: center;
}
.section-title-f {
  position: relative;
  padding-left: 37px;
  font-size: 16px;
  text-transform: uppercase;
  padding-top: 200px;
  color: white;
}
.section-title-f::before {
  content: "";
  position: absolute;
  top: 200px;
  left: 0;
  display: block;
  width: 21px;
  height: 21px;
  background-image: url(/assets/icons/white-dots.svg);
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

.title {
  padding-top: 16px;
  font-size: 32px;
  color: #253757;
}

.progress {
  max-width: 1146px;
  max-height: 518px;
  margin: 165px auto;
}
.progress__col-text {
  max-width: 362px;
}
.progress__text {
  padding-top: 64px;
  font-size: 16px;
  color: #334563;
}
.progress__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 187px;
}
.progress__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 58px;
     -moz-column-gap: 58px;
          column-gap: 58px;
  width: 538px;
  list-style: none;
}
.progress__item:nth-child(2n+1) {
  margin-top: 111px;
}

.step {
  position: relative;
  width: 240px;
  height: 256px;
  z-index: 2;
}
.step__wrapper {
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-box-shadow: 2px 2px 10px lightgrey;
          box-shadow: 2px 2px 10px lightgrey;
  z-index: 0;
}
.step::before {
  content: "";
  position: absolute;
  top: -70px;
  left: 0;
  width: 422px;
  height: 16px;
  border-radius: 8px;
  -webkit-box-shadow: 2px 2px 5px lightgrey;
          box-shadow: 2px 2px 5px lightgrey;
  -webkit-transform: rotate(295deg) translate(-50%);
      -ms-transform: rotate(295deg) translate(-50%);
          transform: rotate(295deg) translate(-50%);
  z-index: -1;
}
.step_accent_blue::before {
  background-color: #56CCF2;
}
.step_accent_yellow::before {
  background-color: #FCC304;
}
.step_accent_green::before {
  background-color: #03D542;
}
.step_accent_red::before {
  background-color: #F25656;
}
.step_numbers {
  padding-top: 64px;
  font-size: 40px;
  text-align: center;
}
.step_numbers_blue {
  color: #56CCF2;
}
.step_numbers_yellow {
  color: #FCC304;
}
.step_numbers_green {
  color: #03D542;
}
.step_numbers_red {
  color: #F25656;
}
.step__step-text {
  margin: 0 auto;
  max-width: 176px;
  font-size: 13px;
  text-align: center;
  color: #253757;
}

.features {
  position: relative;
  height: 976px;
  background-color: #56CCF2;
  z-index: 1;
}
.features__wrapper {
  position: relative;
  max-width: 362px;
}
.features__list {
  list-style: none;
  padding: 0;
}
.features__item {
  position: relative;
  padding-left: 100px;
  padding-top: 64px;
  font-size: 16px;
  color: #fff;
}
.features__item::before {
  content: "";
  position: absolute;
  top: 80px;
  left: 0;
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 32px;
  background-color: white;
  background-image: url(/assets/icons/announcement-speaker.svg);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
}
.features__images {
  position: absolute;
  top: 0px;
  left: 345px;
}
.features::before {
  content: "";
  position: absolute;
  top: -230px;
  left: 1340px;
  width: 1600px;
  height: 730px;
  border-radius: 500px;
  background-color: #03D542;
  -webkit-transform: rotate(295deg) translate(-50%);
      -ms-transform: rotate(295deg) translate(-50%);
          transform: rotate(295deg) translate(-50%);
  z-index: -1;
}

.testimonials {
  max-width: 1146px;
  max-height: 518px;
  margin: 165px auto;
}
.testimonials__col-text {
  max-width: 362px;
}
.testimonials__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 187px;
}
.testimonials__contairer-col {
  padding-top: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 150px;
  margin-bottom: 200px;
}
.testimonials__col {
  width: 264px;
}
.testimonials__imgCirc {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-bottom: 64px;
}
.testimonials__col-text-subtitle {
  font-size: 16px;
  color: #334563;
}

.part {
  position: relative;
  width: 314px;
  height: 464px;
  z-index: 2;
}
.part__wrapper {
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-box-shadow: 2px 2px 10px lightgrey;
          box-shadow: 2px 2px 10px lightgrey;
  z-index: 0;
}
.part::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 120px;
  width: 162px;
  height: 64px;
  border-radius: 32px;
  -webkit-box-shadow: 2px 2px 5px lightgrey;
          box-shadow: 2px 2px 5px lightgrey;
  -webkit-transform: rotate(295deg) translate(-50%);
      -ms-transform: rotate(295deg) translate(-50%);
          transform: rotate(295deg) translate(-50%);
  z-index: 0;
}
.part::after {
  content: "";
  position: absolute;
  top: 180px;
  left: 120px;
  width: 123px;
  height: 64px;
  border-radius: 32px;
  background: url(/assets/images/boy.png) no-repeat center center;
  background-position: cover;
  -webkit-box-shadow: 2px 2px 5px lightgrey;
          box-shadow: 2px 2px 5px lightgrey;
  -webkit-transform: rotate(65deg) translate(-50%);
      -ms-transform: rotate(65deg) translate(-50%);
          transform: rotate(65deg) translate(-50%);
  z-index: 0;
}
.part_accent_blue::before {
  background-color: #56CCF2;
}
.part_accent_yellow::before {
  background-color: #FCC304;
}
.part_accent_red::before {
  background-color: #F25656;
}
.part__name-text {
  padding-top: 60px;
  text-align: center;
}
.part__part-text {
  margin: 0 auto;
  padding-top: 240px;
  max-width: 250px;
  font-size: 14px;
  text-align: center;
  color: #253757;
}
.part__part-text::before {
  content: "";
  position: absolute;
  top: 300px;
  left: 145px;
  width: 2px;
  height: 64px;
  border-radius: 32px;
  -webkit-transform: rotate(90deg) translate(-50%);
      -ms-transform: rotate(90deg) translate(-50%);
          transform: rotate(90deg) translate(-50%);
  z-index: 0;
}
.part__part-text_blue::before {
  background-color: #56CCF2;
}
.part__part-text_yellow::before {
  background-color: #FCC304;
}
.part__part-text_red::before {
  background-color: #F25656;
}
.part__part-ceo {
  font-size: 13px;
  text-align: center;
  color: #253757;
}
.part__part-ceo_blue {
  color: #56CCF2;
}
.part__part-ceo_yellow {
  color: #FCC304;
}
.part__part-ceo_red {
  color: #F25656;
}

.vision-passion-results {
  padding-top: 160px;
  padding-bottom: 160px;
  text-align: center;
}
.vision-passion-results__text {
  margin: 0 auto;
  max-width: 754px;
  font-size: 24px;
  font-weight: normal;
}
.vision-passion-results__button {
  margin-top: 55px;
  width: 226px;
  height: 56px;
  border-radius: 28px;
  border: none;
  background-color: #56CCF2;
  font-size: 16px;
  color: white;
}
.vision-passion-results::before {
  content: "";
  position: absolute;
  left: 120px;
  width: 162px;
  height: 64px;
  background-color: #ffffff;
  border-radius: 32px;
  border: 2px solid #03D542;
  -webkit-transform: rotate(295deg) translate(-50%);
      -ms-transform: rotate(295deg) translate(-50%);
          transform: rotate(295deg) translate(-50%);
  z-index: 0;
}

.contact-us__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 128px;
}
.contact-us__col-send-message {
  width: 656px;
}
.contact-us__col-contact-us {
  max-width: 362px;
}
.contact-us__col-contact-us-smedia {
  margin: 0 auto;
}
.contact-us__form {
  padding-top: 104px;
  color: #152032;
}
.contact-us__form .form_input {
  margin-bottom: 48px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #E1E1E1;
}
.contact-us__black-text {
  padding-top: 43px;
  font-size: 13px;
  color: #334563;
}
.contact-us__blue-text {
  max-width: 257px;
  font-size: 24px;
  color: #56CCF2;
}
.contact-us__col-contact-us-smedia {
  padding-top: 50px;
}

input[type=submit] {
  margin-top: 65px;
  width: 226px;
  height: 56px;
  border-radius: 28px;
  background-color: #56CCF2;
  border: none;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.footer__nav {
  padding-top: 136px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #253757;
}
.footer__list {
  margin-left: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 63px;
  list-style: none;
}
.footer__items {
  margin: 0;
}
.footer__link {
  display: block;
  color: #253757;
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}