@import url(../assets/fonts/muli.css);

body {
    font-family: "muli", Helvetica, sans-serif;
    width: 1642px;
    margin: 0 auto;
}

.header {
    background-image: url(/assets/images/blue_header.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
  
    &__nav {
        display: flex;
        align-items: center;
    }

    &__container {
        margin: 70px 98px 80px;
    }

    &__container-img {
        position: relative;
        margin: 80px 470px;
        display: flex;
        width: 1310px;
        height: 640px;
    }

    &__list {
        display: flex;
        gap: 63px;  
    }

    &__item {
        margin: 0;
        list-style: none;  
    }

    &__link {
        display: block;
        color: white;
        font-size: 16px;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    &__title {
        font-size: 64px;
        color: white;   
    }

    &__subtitle {
        max-width: 754px;
        font-size: 24px;
        color: white;
    }

    &__social {
        position: absolute;
        top: 0;
        right: 0;
        writing-mode: vertical-lr;
        font-size: 13px;
        margin-top: 580px;
        margin-right: -120px;
           
        list-style-type: none;
        
    }

    &__social-item {
        float: left;
        padding: 65px;  
    }
}

.logo {
    display: flex;
    text-decoration: none;
    font-size: 32px;
    color: white;
    width: 53px;
    height: 32px;
}

.hire-us{
    margin-left: 135px;
    color: white;
    border-bottom-style: solid;
    border-color: #FCC304;
    text-decoration: none;
}

.slider {
    position: relative;

    &__buttons {
        position: absolute;
        margin-top: 260px;
        margin-left: -80px;
    }

    &__button {
        width: 80px;
        height: 64px;
        background-color: #FCC304;
        color: white;
        border: none;
        float: left;
    }

    &__button_prev {
        border-right: none;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
    }

    &__button_next {
        border-right: none;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
    }

    &__wrapper {
        margin-top: 125px;
    }

    &__img-inner {
        width: 100%    
    }

    &__text-title {
        position: absolute;
        bottom: 180px;
        left: 60px;   
        font-size: 13px;  
        text-transform: uppercase;  
        color: #56ccf2;
    }

    &__text-subtitle {
        position: absolute;
        bottom: 120px;
        left: 60px; 
        max-width: 264px;
        font-size: 20px;
        color: white;
    }
}

.button {
    margin-top: 50px;
    border-radius: 64px;
    border: none;
    font-size: 16px;
    width: 226px;
    height: 56px;
}

.container {
    position: relative;
    width: 1146px;
    margin: 0 auto;
}

.section {
    max-width: 1146px;
    margin: 165px auto;

    &__text {
        max-width: 742px;
        margin: 0 auto;
    }

    &__title {
        font-size: 16px;
        color: #56ccf2;
        text-transform: uppercase;
    }

    &__subtitle {
        margin-top: 20px;
        font-size: 24px;
        font-weight: normal;
        color: #253757;
    }

    &__maintitle {
        font-size: 48px;
        text-align: center;
    }

    &__contairer-col {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        
    }

    &__col1 {
        float: left;
        width: 264px;
    }

    &__col2 {
        width: 264px;
        float: left;
    }

    &__col3 {
        width: 264px;
        float: left;
    }

    &__imgCirc {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        margin-bottom: 64px;
    }

    &__col-text-title {
        font-size: 20px;
        color: #253757;
        margin-bottom: 32px;
    }

    &__col-text-subtitle {
        font-size: 16px;
        color: #334563;
    }
}



