@import url(../assets/fonts/muli.css);
$color-white: #fff;

body {
    font-family: "muli", Helvetica, sans-serif;
    width: 1642px;
    margin: 0 auto;
}

.header {
    background-image: url(/assets/images/blue_header.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
  
    &__nav {
        display: flex;
        align-items: center;
    }

    &__container {
        margin: 70px 98px 80px;
    }

    &__container-img {
        position: relative;
        margin: 80px 470px;
        display: flex;
        width: 1310px;
        height: 640px;
    }

    &__list {
        display: flex;
        gap: 63px;  
    }

    &__item {
        margin: 0;
        list-style: none;  
    }

    &__item_pos_right {
        list-style: none;  
        margin-left: 135px;
        color: white;
        border-bottom-style: solid;
        border-color: #FCC304;
        text-decoration: none;
    }

    &__link {
        display: block;
        color: white;
        font-size: 16px;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    &__title {
        font-size: 64px;
        color: white;   
    }

    &__subtitle {
        max-width: 754px;
        font-size: 24px;
        color: white;
    }

    &__social {
        position: absolute;
        top: 0;
        right: 0;
        writing-mode: vertical-lr;
        font-size: 13px;
        margin-top: 580px;
        margin-right: -120px;
           
        list-style-type: none;
        
    }

    &__social-item {
        float: left;
        padding: 65px;  
    }
}

.social-media {
    text-decoration: none;
    color: #253757;
}

.logo {
    display: flex;
    text-decoration: none;
    font-size: 32px;
    color: $color-white;
    width: 53px;
    height: 32px;
}

.slider {
    position: relative;

    &__buttons {
        position: absolute;
        margin-top: 260px;
        margin-left: -80px;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 64px;
        background-color: #FCC304;
        color: $color-white;
        border: none;
        float: left;      
    }

    &__button_prev, &__button_next {
        font-size: 26px;

        &::before {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            border-left: 2px solid $color-white;
            border-bottom: 2px solid $color-white;
        }

    }

    &__button_prev { 
        border-radius: 34px 0px 0px 34px;
       
        &::before {
            transform: rotate(45deg);
        }
    }

    &__button_next {
        border-radius: 0px 34px 34px 0px;

        &::before {
            transform: rotate(225deg);
        }
    }

    &__wrapper {
        margin-top: 125px;
    }

    &__img-inner {
        width: 100%    
    }

    &__text-title {
        position: absolute;
        bottom: 180px;
        left: 60px;   
        font-size: 13px;  
        text-transform: uppercase;  
        color: #56ccf2;
    }

    &__text-subtitle {
        position: absolute;
        bottom: 120px;
        left: 60px; 
        max-width: 264px;
        font-size: 20px;
        color: white;
    }
}

.button {
    margin-top: 50px;
    border-radius: 64px;
    border: none;
    font-size: 16px;
    width: 226px;
    height: 56px;
}

.container {
    position: relative;
    width: 1146px;
    margin: 0 auto;

    &_m {
        width: 742px;
    }
}

.welcome {
    max-width: 1146px;
    margin: 165px auto;

    &__text {
        max-width: 742px;
        margin: 0 auto;
    }

    &__subtitle {
        margin-top: 20px;
        font-size: 24px;
        font-weight: normal;
        color: #253757;
    }

    &__maintitle {
        font-size: 48px;
        text-align: center;
    }
   
    &__contairer-col {
        display: flex;
        gap: 150px; 
        margin-bottom: 200px;
    }

    &__col {
        width: 264px;
    }

    &__imgCirc {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        margin-bottom: 64px;
    }

    &__col-text-title {
        font-size: 20px;
        color: #253757;
        margin-bottom: 32px;
    }

    &__col-text-subtitle {
        font-size: 16px;
        color: #334563;
    }

    &__container-col-process {
        display: flex;
        gap: 100px; 
        margin-bottom: 200px;
    }
}

.what-we-do {
    max-width: 1146px;
    margin: 165px auto;
}

.section-title {
    position: relative;
    padding-left: 37px;
    font-size: 16px;
    color: #56ccf2;
    text-transform: uppercase;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 21px;
        height: 21px;
        background-image: url(/assets/icons/blue-dots.svg);
        background-repeat: none;
        background-size: cover;
        background-position: center;
    }

    &-f {
        position: relative;
        padding-left: 37px;
        font-size: 16px;
        text-transform: uppercase;
        padding-top: 200px;
        color: white;
        &::before {
            content: "";
            position: absolute;
            top: 200px;
            left: 0;
            display: block;
            width: 21px;
            height: 21px;
            background-image: url(/assets/icons/white-dots.svg);
            background-repeat: none;
            background-size: cover;
            background-position: center;
        }
    }
}

.title {
    padding-top: 16px;
    font-size: 32px;
    color: #253757;
}

.progress {
    max-width: 1146px;
    max-height: 518px;
    margin: 165px auto;

    &__col-text {
        max-width: 362px;
    }

    &__text {
        padding-top: 64px;
        font-size: 16px;
        color: #334563;
    }

    &__wrapper {
        display: flex;
        gap: 187px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 58px;
        width: 538px;
        list-style: none;
    }

    &__item {
        &:nth-child(2n+1) {
            margin-top: 111px;
        }
    }
}

.step {
    position: relative;
    width: 240px;
    height: 256px;
    z-index: 2;
    
    &__wrapper {
        width: 100%;
        height: 100%;
        background-color: white;
        box-shadow: 2px 2px 10px lightgrey;
        z-index: 0;
    }
    
    &::before {
        content: "";
        position: absolute;
        top: -70px;
        left: 0;
        width: 422px;
        height: 16px;
        border-radius: 8px;
        box-shadow: 2px 2px 5px lightgrey;
        transform: rotate(295deg) translate(-50%);
        z-index: -1;
    }

    &_accent {
        &_blue {
            &::before {
                background-color:#56CCF2;  
            }
        }

        &_yellow {
            &::before {
                background-color: #FCC304;  
            }
        }

        &_green {
            &::before {
                background-color: #03D542;  
            }
        }

        &_red {
            &::before {
                background-color: #F25656;  
            }
        }

    }

    &_numbers {
        padding-top: 64px;
        font-size: 40px;
        text-align: center;

        &_blue {
            color: #56CCF2;
        }

        &_yellow {
            color: #FCC304;
        }

        &_green {
            color: #03D542;
        }

        &_red {
            color: #F25656;
        }
    }

    &__step-text {
        margin: 0 auto;
        max-width: 176px;
        font-size: 13px;
        text-align:center;
        color: #253757;
    }

}

.features {
    position: relative;
    height: 976px;
    background-color: #56CCF2;
    z-index: 1;

    &__wrapper {
        position: relative;
        max-width: 362px;
    }

    &__list {
        list-style: none;
        padding: 0;
    }

    &__item {
        position: relative;
        padding-left: 100px;
        padding-top: 64px;
        font-size: 16px;
        color: $color-white;
        
        &::before {
            content: "";
            position: absolute;
            top: 80px;
            left: 0;
            display: block;
            width: 64px;
            height: 64px;
            border-radius: 32px;
            background-color: white;
            background-image: url(/assets/icons/announcement-speaker.svg);
            background-repeat: no-repeat;
            background-size: 24px;
            background-position: center;
        }
    }

    &__images {
        position: absolute;
        top: 0px;
        left: 345px;
    }

    &__first-img {
        
    }

    &::before {
        content: "";
        position: absolute;
        top: -230px;
        left: 1340px;
        width: 1600px;
        height: 730px;
        border-radius: 500px;
        background-color: #03D542;
        //box-shadow: 2px 2px 5px lightgrey;
        transform: rotate(295deg) translate(-50%);
        z-index: -1;
    }   
}

.testimonials {
    max-width: 1146px;
    max-height: 518px;
    margin: 165px auto;

    &__col-text {
        max-width: 362px;
    }

    &__wrapper {
        display: flex;
        gap: 187px;
    }

    &__contairer-col {
        padding-top: 86px;
        display: flex;
        gap: 150px; 
        margin-bottom: 200px;
    }

    &__col {
        width: 264px;
    }

    &__imgCirc {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        margin-bottom: 64px;
    }

    &__col-text-subtitle {
        font-size: 16px;
        color: #334563;
    }
}



.part {
    position: relative;
    width: 314px;
    height: 464px;
    z-index: 2;
    
    &__wrapper {
        width: 100%;
        height: 100%;
        background-color: white;
        box-shadow: 2px 2px 10px lightgrey;
        z-index: 0;
    }
    
    &::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 120px;
        width: 162px;
        height: 64px;
        border-radius: 32px;
        box-shadow: 2px 2px 5px lightgrey;
        transform: rotate(295deg) translate(-50%);
        z-index: 0;
    }

    &::after {
        content: "";
        position: absolute;
        top: 180px;
        left: 120px;
        width: 123px;
        height: 64px;
        border-radius: 32px;
        background: url(/assets/images/boy.png) no-repeat center center;
        //background-repeat: no-repeat;
       // background-size: 100%;
        background-position: cover;
        
        box-shadow: 2px 2px 5px lightgrey;
        transform: rotate(65deg) translate(-50%);
        z-index: 0;
    }

    &_accent {
        &_blue {
            &::before {
                background-color:#56CCF2;  
            }
        }

        &_yellow {
            &::before {
                background-color: #FCC304;  
            }
        }

        &_red {
            &::before {
                background-color: #F25656;  
            }
        }

    }

    &__name-text {
        padding-top: 60px;
        text-align: center;
    }

    &__part-text {
        margin: 0 auto;
        padding-top: 240px;
        max-width: 250px;
        font-size: 14px;
        text-align:center;
        color: #253757;

        &::before {
            content: "";
            position: absolute;
            top: 300px;
            left: 145px;
            width: 2px;
            height: 64px;
            border-radius: 32px;
            transform: rotate(90deg) translate(-50%);
            z-index: 0;
        }

        &_blue {
            &::before {
                background-color:#56CCF2;  
            }
        }

        &_yellow {
            &::before {
                background-color: #FCC304;  
            }
        }

        &_red {
            &::before {
                background-color: #F25656;  
            }
        }
    }

    &__part-ceo {
        font-size: 13px;
        text-align:center;
        color: #253757;

        &_blue {
            color:#56CCF2;  
        }

        &_yellow {
            color: #FCC304;  
        }

        &_red {
            color: #F25656;  
        }
    }

}

.vision-passion-results {
    padding-top: 160px;
    padding-bottom: 160px;
    text-align: center;

    &__text {
        margin: 0 auto;
        max-width: 754px;
        font-size: 24px;
        font-weight: normal;
    }

    &__button {
        margin-top: 55px;
        width: 226px;
        height: 56px;
        border-radius: 28px;
        border: none;
        background-color: #56CCF2;
        font-size: 16px;
        color: white;
    }

    &::before {
        content: "";
        position: absolute;
        left: 120px;
        width: 162px;
        height: 64px;
        background-color:#ffffff;
        border-radius: 32px;
        border: 2px solid #03D542;
        transform: rotate(295deg) translate(-50%);
        z-index: 0;
    }

}

.contact-us {
    &__wrapper {
        display: flex;
        gap: 128px; 
        
    }

    &__col-send-message {
        width: 656px;
        
    }

    &__col-contact-us {
        max-width: 362px;
    }

    &__col-contact-us-smedia {
        margin: 0 auto;
    }

    &__form {
        padding-top: 104px;
        color: #152032;

        .form_input {
            margin-bottom: 48px;
            width: 100%;
            box-sizing: border-box;
            border: none;
            border-bottom: 2px solid #E1E1E1;
        }   
    }

    &__black-text {
        padding-top: 43px;
        font-size: 13px;
        color:#334563;
    }

    &__blue-text {
        max-width: 257px;
        font-size: 24px;
        color:#56CCF2;    
    }

    &__col-contact-us-smedia {
        padding-top: 50px;

       
    }

}

input[type=submit] {
    margin-top: 65px;
    width: 226px;
    height: 56px;
    border-radius: 28px;
    background-color:#56CCF2;
    border: none;
    font-size: 16px;
    color: white;
    text-decoration: none;
    
   
}

.footer {
    
    &__nav {
        padding-top: 136px;
        display: flex;
        align-items: center;
        font-size: 16px;
        color: #253757;
    }


    &__list {
        margin-left: 160px;
        display: flex;
        gap: 63px;
        list-style: none;
    }

    &__items {
        margin: 0;
    }

    &__link {
        display: block;
        color: #253757;
        font-size: 16px;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
}

